@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ececec;
    background-image: url(./images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-size: 15px;
}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

header {
    color: hsl(233, 13%, 49%);
    text-align: center;
    padding: 30px 0;
}

.menu {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(234, 14%, 74%);
}

.botao {
    padding: 0 20px;
}

.switch {
    position: relative;
    display: flex;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #001106;
}

input:focus+.slider {
    box-shadow: 0 0 1px #010b13;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 800px) {

    body {
        background-position: top -50px right -180px;
    }


    .card1,
    .card2,
    .card3 {
        width: 90%;
        height: 500px;
        margin: auto;
        margin-top: 20px;
        border-radius: 12px;
    }

    .card1 {
        margin-top: 60px;
        background-color: rgb(255, 255, 255);
        color: hsl(233, 13%, 49%);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .card3 {
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(255, 255, 255);
        color: hsl(233, 13%, 49%);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    hr {
        width: 270px;
        margin: auto;
        border: 1 solid gray;
    }

    .texto1-gray {
        text-align: center;
        padding: 30px 0;
        color: hsl(233, 13%, 49%);
    }

    .texto1-white {
        text-align: center;
        padding: 30px 0;
    }

    .preco-gray {
        text-align: center;
        padding: 0 0 25px 0;
        font-size: 3.6rem;
        color: hsl(232, 13%, 33%);
    }

    .preco-white {
        text-align: center;
        padding: 0 0 25px 0;
        font-size: 3.6rem;
    }

    .texto2,
    .texto3,
    .texto4 {
        text-align: center;
        padding: 25px;
    }

    .botao-info,
    .botao-info2 {
        width: 270px;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    #but1,
    #but3 {
        width: 270px;
        height: 40px;
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 7px;
        color: white;
        border: none;
    }

    #but1:hover,
    #but3:hover {
        background: #ffffff;
        color: hsl(237, 63%, 64%);
        border: 1px solid hsl(237, 63%, 64%);
    }

    .card2 {
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: white;
    }

    .botao-info2 button {
        width: 270px;
        height: 40px;
        background: white;
        color: hsl(237, 63%, 64%);
        border: none;
        border-radius: 7px;
    }

    #but2:hover {
        background-color: hsl(237, 63%, 64%);
        color: white;
        border: 1px solid white;
    }

}

@media screen and (min-width: 801px) {

    .container {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card1,
    .card3 {
        align-items: center;
        background-color: white;
        width: 265px;
        height: 360px;
        justify-content: space-around;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .card3 {
        border-radius: 0 8px 8px 0;
    }

    .card2 {
        align-items: center;
        background-color: white;
        width: 265px;
        height: 390px;
        border-radius: 8px;
        justify-content: space-around;
    }

    hr {
        width: 210px;
        margin: auto;
        border: 1 solid gray;
    }

    .texto1-gray {
        font-size: 0.7rem;
        text-align: center;
        padding: 30px 0;
        color: hsl(233, 13%, 49%);
    }

    .texto1-white {
        font-size: 0.7rem;
        text-align: center;
        padding: 30px 0;
    }

    .preco-gray {
        text-align: center;
        padding: 0 0 25px 0;
        font-size: 2.6rem;
        color: hsl(232, 13%, 33%);
    }

    .preco-white {
        text-align: center;
        padding: 0 0 25px 0;
        font-size: 2.6rem;
    }

    .texto2,
    .texto3,
    .texto4 {
        text-align: center;
        padding: 10px;
        font-size: 0.7rem;
    }

    .botao-info,
    .botao-info2 {
        display: flex;
        justify-content: center;
    }

    #but1,
    #but3 {
        margin-top: 35px;
        width: 225px;
        height: 30px;
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 7px;
        color: white;
        border: none;
        font-size: 0.7rem;
    }

    #but1:hover,
    #but3:hover {
        background: #ffffff;
        color: hsl(237, 63%, 64%);
        border: 1px solid hsl(237, 63%, 64%);
    }

    .card2 {
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: white;
    }

    .botao-info2 button {
        margin-top: 50px;
        width: 225px;
        height: 30px;
        background: white;
        color: hsl(237, 63%, 64%);
        border: none;
        border-radius: 4px;
    }

    #but2:hover {
        background-color: hsl(237, 63%, 64%);
        color: white;
        border: 1px solid white;
    }
}